#parse("templates/comun/cabecera.htm")
#parse("templates/comun/aviso.htm")

<h2>Lista de subastas</h2>

<div name="contenedor">

    #foreach( $subasta in $subastas )
    <div name="subastaCompleta">
        <span name="subastaTitulo">$subasta.Id - <a href="$subasta.LinkLotes">$subasta.Titulo</a></span>
        <span name="subastaLink"><a href="$subasta.LinkEdit">Editar nombre</a></span>
        <span name="subastaLink"><a href="$subasta.LinkDelete">Eliminar subasta</a></span>
        <div name="subastaDetalle">
            <p>Lotes:</p>
            <ul>
                #foreach ($lote in $subasta.Lotes)
                    <li>$lote.Titulo</li>
                #end
            </ul>
        </div>
        <div name="subastaImagen"></div>
        <span name="subastaLink"><a href="$subasta.LinkLotes">Editar lotes</a></span>
    </div>
    <br/>
    #end
    <span name="subastaLink"><a href="$subasta.LinkNew">Nueva subasta</a></span>
</div>